<!DOCTYPE HTML>

<html>
    <body>
            <div>
                Hi,
            </div>  
            <div>
                Congratulations!
            </div>

            <div>your Content<br>
                Once again, congratulations and all the best.<br> 
                I look forward to your Test result and talking to you.<br> 
                <br>Best,<br>
                Your Name</div>
            
                
    </body>
</html>